#pack_cont {
  width: 900px;
  height: 1200px;
  overflow-y: scroll;
  margin: 50px auto;
  padding: 50px 140px;
  background-color: green;
  border: 20px solid rgb(55, 27, 27);
  border-radius: 30px;
}

/* single card */
.clow-card:hover {
  box-shadow: 0 0 11px rgba(35, 35, 35, 0.427); 
} 

.card {
  perspective: 800px;
  display: inline-block;
  transition: transform 0.5s;
}

.card .card-image {
  transition: opacity 0.5s;
}

/*red colored card*/
/* .card.red {
  color: red;
} */

/*
    while opening a card, again shift transform origin 
    to vertical and horizontal center axis 
    to give an actual flip effect
    */
/* .card.open {
  transform-origin: center center !important;
  -ms-transform-origin: center center !important;
  -webikit-transform-origin: center center !important;
  -moz-transform-origin: center center !important;
  -webkit-transform: rotateY(180deg) !important;
  transform: rotateY(180deg) !important;
} */

/*to show card value */
/*rotate the text to 180deg so the text is not mirrored when card is flipped*/
/* opened card text*/
/* .card.opened span:after { */
  /* content: attr(data-title);
  transform: rotateY(180deg);
  font-size: 40px;
  display: block;
} */

/*hide background from open card */
/* .card.opened {
  background-image: url(../images/ClowCard/convert/ClowArrow.jpg);
} */
